<div class="loginContainer">

  <div class="formContainer">
    <p class="mainTitle">App für Reiseabrechnungen</p>
    <p class="underTitle">Login</p>
    <%= render partial: '/sessions/form' %>
  </div>

</div>
